#promo {
    
    background-image: url('../assets/img/6179.jpg');
    background-size: contain;
    /*padding-bottom: 200px;*/
    text-align: cover;
    padding: 140px;
    /*align-content: center;*/
  }
  
  @media (max-width: 991px) {
    #promo {
      padding: 20px;
    }
  }
  
  #promo .jumbotron {
    border-radius: 40px;
    background-color: rgba(255,255,255,0.75);
    max-width: 800px;
    padding: 60px;
    margin: auto;
    text-align: center;
  }
  
  @media (max-width: 991px) {
    #promo .jumbotron {
      padding: 20px;
    }
  }
  
  .site-section {
    text-align: center;
    padding: 50px 0 60px;
  }
  
  .site-section h1 {
    font-weight: bold;
    font-family: 'Gochi Hand', cursive;
    margin-bottom: 100px;
    font-size: 70px;
  }
  
  #welcome p {
    max-width: 800px;
    font-size: 20px;
    margin: 0 auto;
  }
  
  .fa.fa-laptop {
    font-size: 40px;
  }
  
  #why .item h2 {
    font-weight: normal;
  }
  
  #why .item i {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  #why .item h2 {
    font-weight: normal;
  }
  
  #sopa {
    font-size: 60px;
  }
  
#sumaimagen {
    width: 100px;
    height: 100px;
}

#restaimagen {
    width: 100px;
    height: 100px;
}

#multiplicacionimagen {
    width: 100px;
    height: 100px;
}

#formulaimagen {
    width: 100px;
    height: 100px;
}

#bancoimagen {
    width: 100px;
    height: 100px;
}

#divisionimagen {
    width: 100px;
    height: 100px;
}

.imagen-nav{
    height: 30px;
    width: 30px;
}

#menu-principal{
    background-color: aqua;
}

body{
    background-color: aqua;
}
  
.imagenjuegos {
    margin-bottom: 30px;
}

.jumbotron h1 {
  font-size: 100px;
  font-family: 'Butterfly Kids', cursive;
}

#boton-primario {
  width: 300px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  background-color: coral;
  border-color: aqua;
  color: azure;
  font-weight: bolder;
}